body{
    background-color: pink;
}

.mainContainer{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.section{
    background-color: palevioletred;
    color:antiquewhite;
    font-family: cursive;
    margin: 15px;
    border-radius: 15px;
    border: 5px solid cornflowerblue; 
    padding: 5px;
}
